@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');
/* CSS Document */

--steel-blue: #3f7cac;
--pewter-blue: #95afba;
--space-cadet: #1e2749;
--light-grey: #dddddd;

body{
    font-size: 14pt;
}

p {
    padding: 5px 10px 5px 10px;
    line-height: 120%;
    font-family: Raleway;
    font-weight: 300;
    font-size: 1.2em;
    text-align: justify;
}

ul {
    margin-left: 20px;
    padding: 5px 10px;
    line-height: 120%;
    list-style-type: disc;
    font-family: Raleway;
    font-weight: 300;
    font-size: 1.2em;
}

em {
    font-weight: 500;
}

input[type=text] {
    font-family: Montserrat;
    line-height: 24px;
    vertical-align: top;
}

#flVariablesArea {
    
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3f7cac;
    padding: 10px;
    color: #dddddd;
    font-family: Montserrat;
}

#header h1{
    font-size: 2.3em;
}

#mainArea {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border: 1px solid #3f7cac;
}

#nozzleVariablesArea {
    
}

#sectionHead{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    background-color: #95afba;
    padding: 5px 0px 5px 20px;
    font-family: Montserrat;
    font-weight: bold;
}

#sectionHead h1{
    font-size: 1.7em;
    padding-bottom: 5px;
}

#sectionHead h2 {
    padding-left: 30px;
    color: #dddddd;
    font-size: 1.5em;
}


.answer{
    display:flex;
    flex-direction: row;
    background-color: #95afba;
/*    margin-top: -5px;*/
    padding: 10px 20px;
    font-size: 1.2em;
    line-height: 120%;
}

.answerBox {
    display: block;
    padding: 5px 10px;
    line-height: 40px;

}

.answerBox input[type=text] {
    text-align: center;
    font-family: Raleway;
    font-size: 1.2em;
}

.answerDropdown {
    position: relative;
    font-family: Raleway;
    font-size: 1.2em;
}

.answerDropdown select{
    padding: 5px 10px;
    background-color: #dddddd;
    text-align: center;
    font-family: Raleway;
    font-size: 1em;
}

.answerDropdown select-selected {
    background-color: #95afba;
}

.answerHeader {
    background-color: #1e2749;
    width: 95%;
    padding: 5px 20px;
    margin: 10px auto 0px;
    color: #dddddd;
    font-family: Raleway;
    font-size: .8em;
}

.answerText {
    margin: 0px 20px;
    padding: 10px 20px;
    text-align: right;
    font-family: Raleway;
    font-size: 1em;
    line-height: 120%;
}

.ctrlButton {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    background-color: #dddddd;
    color: #1E2749;
    width:200px;
    height: 30px;
    border: 1px solid #000000;
    margin: 10px auto;
    padding: 5px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: .8em;
    text-align: center;
}

.formulaText {
    width: 100%;
    line-height: 2em;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.formulaText sup {
    vertical-align: super;
    font-size: smaller;
}

.imageLeft {
    float: left;
    padding:0px 20px 0px 10px;
}

.imageRight {
    float: right;
    padding:0px 10px 0px 20px;
}

.navButton {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #1e2749;
    color: #dddddd;
    width:200px;
    height: 40px;
    border: 1px solid #000000;
    margin: 10px auto;
    padding: 5px;
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
}

.paraHead{
    padding: 10px 0px 0px 10px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 1.3em;
}

.problemText {
    display: flex;
    flex-direction: row;
    background-color: #95afba;
    margin: 0px 20px;
    padding: 10px 20px;
    font-family: Montserrat;
    font-size: 1.2em;
    line-height: 120%;
}

.spacer{
    display: block;
    height: 20px;
    width: 95%;
    background-color: #ffffff;
}

.variablesArea {
    display: flex;
    flex-direction: row;
    margin: -5px auto 5px;
    width: 95%;
    background-color: #95AFBA;
}